body {
  font-family: 'Montserrat', sans-serif;
}

body a {
  text-decoration: none;
}

body header {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  color: #7510f7;
  z-index: 999;
}

body header .header-wrapper {
  display: flex;
  background-color: white;
}

body header .header-wrapper .flex-item {
  flex-basis: 25%;
  flex-shrink: 0;
  margin: 10px;
  text-align: right;
}

body header .header-wrapper .flex-item:nth-child(1) {
  font-size: 2rem;
  font-weight: 600;
}

@media only screen and (max-width: 1000px) {
  body header .header-wrapper .flex-item:nth-child(1) {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 500px) {
  body header .header-wrapper .flex-item:nth-child(1) {
    font-size: 1rem;
  }
}

body header .header-wrapper .flex-item:nth-child(2) {
  flex-basis: 60%;
  font-size: 18px;
}

@media only screen and (max-width: 400px) {
  body header .header-wrapper .flex-item:nth-child(2) {
    flex-basis: 50%;
  }
}

body header .header-wrapper .flex-item:nth-child(2) span {
  margin: 10px;
  vertical-align: -10px;
}

@media only screen and (max-width: 800px) {
  body header .header-wrapper .flex-item:nth-child(2) span {
    display: none;
  }
}

body header .header-wrapper .flex-item:nth-child(2) span a:hover {
  font-weight: 600;
}

body header .header-wrapper .flex-item:nth-child(3) {
  display: none;
}

@media only screen and (max-width: 800px) {
  body header .header-wrapper .flex-item:nth-child(3) {
    display: block;
    text-align: left;
  }
  body header .header-wrapper .flex-item:nth-child(3) i {
    vertical-align: -10px;
  }
}

body header .hidden-nav-wrapper {
  display: none;
}

@media only screen and (max-width: 800px) {
  body header .hidden-nav-wrapper {
    display: flex;
    justify-content: flex-end;
    visibility: hidden;
  }
  body header .hidden-nav-wrapper .hidden-nav-column {
    background-color: #7510f7;
    flex: 0 1 20%;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
  }
  body header .hidden-nav-wrapper .hidden-nav-column .flex-item {
    text-align: center;
    margin: 10px auto;
  }
  body header .hidden-nav-wrapper .hidden-nav-column .flex-item > a {
    color: white;
  }
}

@media only screen and (max-width: 800px) and (max-width: 400px) {
  body header .hidden-nav-wrapper .hidden-nav-column .flex-item > a {
    font-size: 12px;
  }
}

@media only screen and (max-width: 800px) {
  body header .hidden-nav-wrapper .hidden-nav-column .flex-item > a:hover {
    font-weight: 600;
  }
}
