$main-font: 'Montserrat', sans-serif;
$theme-color: #7510f7;

// Input is font size which changes based on the device
@mixin h3-style($font-num){
    text-align: center;
    font-family: $main-font;
    font-weight: 800;
    font-size: $font-num; 

    @media screen and (max-width: 1000px){
        font-size: $font-num*0.8;
    }

    @media screen and (max-width: 600px){
        font-size: $font-num*0.6;
    }

    @media screen and (max-width: 350px){
        font-size: $font-num*0.4;
    }
}


// Set padding top to every section
@mixin pd-top-style{
    padding-top: 100px;

    @media screen and (max-width: 800px){
        padding-top: 60px;
    }

    @media screen and (max-width: 600px){
        padding-top: 40px;
    }
}

// Set padding bottom to every section
@mixin pd-bottom-style{
    padding-bottom: 200px;

    @media screen and (max-width: 800px){
        padding-bottom: 120px;
    }

    @media screen and (max-width: 600px){
        padding-bottom: 80px;
    }
}

main{
    width: 100%;
    margin-top: 100px;
    font-size: 1.5rem;

    @media screen and (max-width: 1000px){
        font-size: 1.5rem*0.8;
    }

    @media screen and (max-width: 600px){
        font-size: 1.5rem*0.6;
    }

    @media screen and (max-width: 350px){
        font-size: 1.5rem*0.4;
    }

    @include pd-top-style;
    @include pd-bottom-style;

    h3{
        @include h3-style(2rem);
    }

    .input-wrapper{
        width: 40%;
        @media screen and (max-width: 1000px){
            width: 50%;
        }
    
        @media screen and (max-width: 600px){
            width: 60%;
        }
    
        @media screen and (max-width: 350px){
            width: 70%;
        }

        margin: 0 auto;
        color: $theme-color;
        // background-color: orange;

        .flex-container{
            @include pd-top-style;
            display: flex;
            justify-content: space-between;
            
            @media screen and (max-width: 1600px){
                flex-direction: column;
            }

            input{
                width: 100%;
                box-sizing: border-box;
            }
        }

        .mes-container{
            margin-top: 20px;

            textarea{
                width: 100%;
                box-sizing: border-box;
                padding: 2px;
            }
        }

        button{
            display: block;
            margin: 20px auto;
            padding: 10px;
            color: $theme-color;
            background-color: transparent;
            border: 1px solid $theme-color;
            border-radius: 10px;

            &:hover{
                color: white;
                background-color: $theme-color;
            }
        }
    }
}