main {
  margin-top: 100px;
  padding-top: 100px;
  padding-bottom: 200px;
  height: 500px;
}

@media screen and (max-width: 800px) {
  main {
    padding-top: 60px;
  }
}

@media screen and (max-width: 600px) {
  main {
    padding-top: 40px;
  }
}

@media screen and (max-width: 800px) {
  main {
    padding-bottom: 120px;
  }
}

@media screen and (max-width: 600px) {
  main {
    padding-bottom: 80px;
  }
}

@media screen and (max-width: 500px) {
  main {
    font-size: 0.6rem;
  }
}

main h1 {
  text-align: center;
  line-height: 500px;
}
